@font-face {
    font-family: "custom";
    src: url('../fonts/DK Lemon Yellow Sun.otf');
}

html, body {
    background-color: #fff;
    height: 100%;
    width: 100%;
}


.logo {
    width: 35%;
    margin: auto;
}

.logo img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
/*NAV*/

nav {
    text-align: center;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    height: 60px;
}

nav a {
    padding-left: 50px;
    padding-right: 50px;
    font-family: "custom";
    font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #f9f9f9;;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: "custom";
    padding-left: 50px;
    padding-right: 50px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
}

/*LINKS*/

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
 text-decoration: none;
    color: black;
}

a:active {
     text-decoration: none;
    color: black;
}

a:visited {
     text-decoration: none;
    color: black;
}


/*SIDE SCROLL*/


/*HOME...SLIDESHOW*/


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 70%;
    max-height: 80%;
    height: 80%;
    width: 70%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.mySlides {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.mySlides img {
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*GALLERY*/

.container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.gallery img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.gallery {
    padding: 0;
}

/*ABOUT*/

.about{
    width: 50%;
    margin: auto;
}

h1 {
    font-family: "custom";
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

h3 {
    font-family: "custom";
    text-align: center;
    width: 50%;
    margin: auto;
    display: block;
}

p {
    text-align: center;
}

.col-sm-4 {
    display: block;
}

.footer {
padding-top: 150px;
    display: block;
}


/*.aboutbody {
 background-image:  url(../img/J&E.jpg);
}*/

/*CONTACT*/

#form-wrap {
    width: 50%;
    padding-top: 0px;
    font-family: "custom";
    margin: auto;
}

form {
    width: 70%;
    margin: 0 auto;;
}

label {
    display: block;
    text-align: center;
    font: ;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "custom";
    font-size: 20px;
}

input {
    display: block;
    width: 60%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: "custom";
    font-size: 18px;
}

textarea {
    display: block;
    width: 60%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: "custom";
    font-size: 18px;
}

fieldset {
    border: none;
    padding: 10px;
}

.btn {
    width: 30%;
    display: block;
    margin-bottom: 15px;
    font-family: "custom";
    outline: none;
}

form h4 {
    text-align: center;
    font-family: "custom";
    font-size: 30pt;
}

.contact {
    font-family: "custom";
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

/*FOOTER*/

.footer {
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 10px;
    padding-top: 0px;
}

.seperate {
    height: 30px;
}

.icons {
    width: 70%;
    margin: auto;
    text-align: center;
}

.icons i {
    padding: 10px;
}



